*{
	padding:0;
	margin:0;}
.clear{clear:both}


.page{		background-image:url(back.jpg);
			background-size:100%;
			height:100%;
			width:1880px;
			
}

.header{	
			width:100%;
			height:60px;
			background-color:rgb(26,30,33);
			overflow:hidden;
			
		
		
		}
.header img {width:140px;
			height:60px;
			overflow:hidden;
			
		
}
.header .logo{
			  width:140px;
			  height:60px;
			  overflow:hidden;
			  float:left;
			  
			 
		
		
}

.sousuo{	height:60px;
			width:190px;
			background-color:rgb(55,61,65);
			margin-left:960px;
		
			color:#fff;
			border:0;
			font-size:17px;
			padding-left:20px;
			position:relative;
			right:1px;
			bottom:30px;
			
			
		
}
.sousuo-1{	float:right;
			background-color:rgb(55,61,65);
			width:25px;
			height:25px;
			margin-right:700px;
			background-image:url(sousuo.png);
			background-size:100%;
			position:relative;
			bottom:71px;
			left:120px;
			
}

			
.header .nav{
			height:60px;
			float:right;
			position:relative;
			bottom:85px;
			left:740px;
			overflow:hidden;
		
}
.header .nav ul{
			padding-right:1px;
			overflow:hidden;
		
}
.header .nav ul li{
	
			float:left;
			list-style:none;
			width:60px;
			height:60px;
			color:#fff;
			line-height:60px;
			
		
		
			
}
.img{		
			 width:35px;
			 height:30px;
			 background-size:100%;
			 background-image:url(gw.png)  ;
			 position:relative;
			 top:20px;
			 left:1490px;
						
					
}
.hr{		
			border-top:1px;
}
.main{
			height:580px;
			width:100%;
			overflow:hidden;
			
			
						
}
.left1{		width:400px;
			height:200px;
			
			margin-left:440px;
			margin-top:160px;
			
			color:#fff;
}
.left1-p1{	font-size:15px;
}
.left1-p2{	position:relative;
			top:10px;
			font-size:15px;
}
.left1-p3{	position:relative;
			top:15px;
			font-size:15px;
}
.left1-p4{	position:relative;
			top:20px;
			font-size:15px;
}

.right1{	width:380px;
			height:360px;
			background-color:#fff;
			position:relative;
			bottom:260px;
			left:1100px;
			float:left;
			
								
}
.right1-1{	height:60px;
			font-size:20px;
			padding-top:25px;
			padding-left:30px;
			overflow:hidden;
}
.user{		width:330px;
			height:40px;
			margin-left:30px;
			
}
.password{	width:330px;
			height:40px;
			margin-left:30px;
			margin-top:20px;
}

.denglu{	width:330px;
			height:40px;
			margin-left:30px;
			margin-top:20px;
			font-size:15px;
			background-color:rgb(0,193,222)
			
}
.right1-2{	width:80px;
			height:30px;
			float:right;
			font-size:13px;
			margin-top:8px;
}
.zixun{		float:right;
			width:45px;
			height:140px;
			writing-mode:tb-rl;
			background-color:rgb(51,205,229);
			color:#fff;		
			margin-right:20px;
			position:relative;
			top:75px;
			
}
.zixun-1{	width:45px;
			float:right;
			height:30px;
			
			position:relative;
			top:75px;
			left:45px;
			background-image:url(zixun.png);
			background-size:100%;
			
}
.zixun-2{	width:22px;
			float:right;
			
			height:110px;
			writing-mode: tb-rl;
			text-align:center;
			padding-right:14px;
			position:relative;
			top:100px;
			left:90px;
			color:#fff;
			letter-spacing:2px;
			
}
.footer{	height:269px;
			width:100%;
			background-color:rgb(55,61,65);
			color:rgb(155,158,160)
			
			
}
.p1{		width:1500px;
			height:60px;
			
			margin-left:100px;		
			font-size:15px;
			
			padding-top:30px;
			padding-left:235px
}

.p2{		width:1500px;
			height:60px;
			
			margin-left:100px;
			
			padding-left:235px
			
}
.p2-1{		font-size:12px;
			letter-spacing:2px;
			font-family:"黑体"；
}

.p3{		width:1500px;
			height:50px;
			
			margin-left:100px;
			
			padding-left:235px
}
.p3-1{		font-size:12px;
			margin-top:3px;
}
.p3-2{		font-size:14px;
}
.img-1{		width:25px;
			height:20px;
			
			float:left;
			background-image:url(gxb.gif);
			background-size:100%;
		
			
}
.img-2{		width:25px;
			height:20px;
			
			float:left;
			background-image:url(ba.png);
			background-size:100%;
			
}
