body
{
    background-image: url('../image/back.jpg');
    background-size:100% 100%;
    width: 100%;
    margin: 0px;
    
}
#c1
{
    height: 40;
    border-bottom:#454B50 2px solid;
    width: 100%; 
}
#c2
{
    border-bottom:10 #454B50 ;
    width: 54%;
    float: left;
    height: 30;
    padding: 8 0 0 0;
    margin-left: 5
}
#c3
{
    background: #686D70;
    width: 15%;
    float: left;
    height: 40; 
}
#c4
{   border: 0;
    background: #686D70 ;
    height:40;
    width: 80%;
    font-size: 20px;
    margin:0 0 0 1%;
    text-align:left;
    padding: 27 0 0  0
}
#c5
{
    height: 40;
    width: 16%;
    background-color: #686D70;
    background-image: url(../image/sousuo.png);
    background-repeat: no-repeat;
    border: hidden;
    margin: 0px;
    padding: 0px;
}  
#c6
{
    float: left;
    width: 30%;
    height: 40;
}
#c7
{
    width: 100%;
    height: 400;
    margin:50 0 80 0;
}
#c8
{
    margin:0 0 0 300;
    padding:100 0 0 0;
    width: 400;
    float: left;
}
#c9
{   
    padding: 20 0 0 0;
    margin:0 0 0 700;
    width: 500;
}
#c10
{   width: 320;
    height:335;
    background: #FFFFFF;
    margin:0 0 0 120;
} 
#c11
{
    color: black;
    font-size: 25;
    padding: 20 0 0 0
}
#c12
{
    margin-left: 20;
    border: 0;
    color: #FFFFFF;
    font-size: 15
}
#c13
{
    height: 80;
}

#c14
{
    background: #373D41;
    width: 100%;
    height: 200;
    margin:20 0 0 0;
    border: 0;
}
#c15
{
    float: left;
    width: 1200;
    height:40;
    margin:0 0 0 180;
    padding:20 0 0 0
}
#c16
{
     float: left;
     margin:20 0 0 180;
     color: #686D70;
}
#c17
{
    float: left;
    width: 1300;
    font-size: 11;
    margin:10 0 10 200;
    color: #686D70
}
#c18
{
    float: left;
    margin-left: 200;
    font-size: 11;
    color:#686D70
}
#c19
{
    margin-left: 100
}

.a1
{
    font-size: 10;
}
.a2
{
    background: red 
}
.a3
{
    color: #848E96;
    float: left;
    margin-left: 20;
    font-size: 18;
}
.a4
{
    color: #FFFFFF;
    font-size: 15;
    margin: 5 0 0 0;
    text-align: center;
    letter-spacing: 2;
}
.a5
{
    background: #00C1DE; 
    width: 37px; 
    height: 120;         
    writing-mode:vertical-lr; 
    position: fixed;
    right :18px;
    top:400px;
}
.input
{
    height: 30;
    width: 280;
    font-size: 10;
    margin-top: 10
}
 ul
{
    color: #FFFFFF;
    list-style-type : none;
    margin:10 0 0 90;
}
li
{
    float: left;
}
 li a
{
    color: #FFFFFF;
    font-size: 15;
    margin-left: 15;
}
p
{
   color: #FFFFFF ;
   font-size: 12;
   margin-left: 20;
}
a
{
    margin-left:20 ;
    font-size: 11;
    margin-top:20
}

