@charset "utf-8";
*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration: none;}
*{
    font-family: 'Arial', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
body{
    height:1260px;
}
.current{
    background-color: #3c93ed !important;
}
/*悬浮窗口*/
#mobile{
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    width:360px;
    height:70px;
    cursor: pointer;
    padding: 0 20px 0 20px;
    background: url("../images/9c.jpg") no-repeat center;

}
#mobile p{
    float: left;
    height:70px;
    line-height:70px;
    font-size:18px;
    color:#39a4db;
}
#mobile p + p{
    float:right;
}

/*头部-->*/
header{
    width:100%;
    margin-bottom:20px;
}
.nav-top{
    position: relative;
    width:100%;
    height:30px;
    background-color: #39a4db;
}
.nav-top  .nav-bt{
    position: absolute;
    top:0;
    right:10%;
    height:26px;
    padding-top:4px;
}
.nav-bt > div{
    float: left;
}
.nav-bt a{
    display: inline-block;
    font-size: 15px;
    color:#fff;
}
.nav-top  .nav-bt .regiter{
    margin-left:100px;
}
.nav-top  .nav-bt .regiter .userinformation{
    position: relative;
}
.nav-bt .regiter .userinformation > a{
    position: absolute;
    display: block;
    top:10px;
    left:10px;
    width:30px;
    height:25px;
    line-height: 25px;
    text-align: center;
    color:#b2acd5;
    
}
.nav-top  .nav-bt > a{
    margin:0 20px 0 20px;
}
.nav-top  .nav-bt > a:hover{
    border-bottom:2px solid #000;
}
.nav-bt .mid-line a{
    width:1px;
    padding-left:14px;
    font-size:14px;
    padding-right:14px;
}

/*logo*/
#logo{
    position: relative;
    width:100%;
    height:100px;
    background-color: #fff;
}
#logo > a{
    position: absolute;
    top:0;
    left:15%;
    display: inline-block;
    width:100%;
    height:100px;
    padding-top:17px;
}

/*下拉菜单*/
.nav-list{
    width:100%;
    height:46px;
    background-color: #39a4db;
}
.nav-list .menu{
    width:1200px;
    margin:0 auto;
}
.nav-list .menu ol li{
    position: relative;
    float:left;
    width:120px;
    height:46px;
    line-height: 46px;
    background-color: #39a4db;
}
.nav-list .menu li ul{
    position: absolute;
    display: none;
    z-index: 2;
    top:46px;
    left:0;
}
.nav-list .menu ol a{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size:17px;
    margin: 0 auto;
    color:#fff;
}
.nav-list .menu ul a:hover{
    background-color: #3c93ed;
}

/*轮播图*/
.banner{
    position: relative;
    width:100%;
    height:400px;
    overflow: hidden;
}
.banner .picture{
    position: absolute;
    width:500%;
    top:0;
    left:0;
    height:400px;
}
.banner .picture li{
    float: left;
    width:20%;
    height:400px;
    overflow: hidden;
}
.banner .picture li img{
    width:100%;
    height:400px;
}
.banner .prev{
	position: absolute;
	display: block;
	top:165px;
	left:20px;
	cursor: pointer;
}
.banner .next{
	position: absolute;
	display: block;
	top:165px;
	right:20px;
	cursor: pointer;
}
.box-bottom{
    position: absolute;
    bottom:2%;
    left:46%;
    z-index: 10;
}
.box-bottom .btn{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
    cursor: pointer;
    background: url("../images/image_dot.png") no-repeat;
}
.box-bottom .btn + .btn{
    margin-left:20px;
}
.box-bottom .on{
    z-index: 2;
    position: absolute;
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
	top: 4px;
	left:0px;
    opacity: 1;
    cursor: pointer;
    background-color: #b2acd5;
}