*
{
    margin: 0px;
    width:100%;
    height: auto;
}

#float
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
    width: 500px;
    height: auto;
}
#float img
{
    width:500px;
    height: 60px;
    cursor: pointer;
}
.other
{
    background: #39A4DB;
    position: relative;
    width:100%;
    height: 35px;
    line-height: 35px;

}
.other pre
{
    position: absolute;
    cursor: pointer;
    color: white;
    left: 75%;
    top: auto;
    font-size: 15px;
    margin: 0%;
    padding: 0%;
    width: auto;
}
.top-title
{
    height: 110px;
    width: 100%;
    position: relative;
}
.top-title a
{
    margin-left: 16%;
    position: absolute;
    height: 110px;
    width: 806px;
}
.top-title img
{
    height: 70px;
    width: 806px;
    cursor: pointer;
    margin-top:15px;  
}
.banner
{
    height: 50px;
    width: 100%;
    background: #39A4DB;
    float: left;
}
.banner_1
{
    list-style-type: none;
    cursor: pointer;
    width: 1200px;
    margin: 0 auto;
}
.banner_1 li
{
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}
.banner_1 li:hover
{
    background-color: blue;
}
.banner_2
{
    display: none;
    background: #39A4DB;
    width: 120px;
    height: auto;
    list-style-type: none;
    cursor: pointer;
    position: absolute;
    padding: 0px;
    z-index: 2;

}
.banner_2 li
{
    float: left;
    padding: 0px;
}
.banner_2 li a
{
    text-decoration: none;
    color: #ffffff;
}
.current
{
    background: blue;
}
.banner-image
{
    padding: 0%;
    border: 0%;
    height: 450px;
    z-index: 1;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner-image ul
{
    list-style-type: none;
    padding: 0px;
    width:400%;
    height: 450px;
    position: absolute;

}
.image-container li
{
    float: left;
    height: 450px;
    width:25%;
    z-index: 1;
}
.banner-image ul li img
{
    
    height: 450px;
    width: 100%;
}
.banner-image ol
{
    width: 200px;
    position: absolute;
    cursor: pointer;
    list-style-type: none;
    padding: 0%;
    margin: 10px;
    left: 40%;
    top: 85%;
    z-index: 3;
}
.banner-image ol li
{
    width: 10px;
    height: 10px;
    float: left;
    background: #39A4DB;
    margin-left: 20px;
    border-radius: 10px;
}
.prev
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1%;
    top: 50%;
}
.next
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1%;;
    top: 50%;
}
.current_2
{
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    opacity: 0.4;
}
.content
{
    border-top: 5px solid #39A4DB;
    margin-top: 20px;

}
.content-top
{
    width: 1150px;
    height: 355px;
    margin-left: 15%;
}
.announce a
{
    text-decoration: none;
}
.announce-image
{
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 300px;
    margin: 20px 0 0 25px;
    float: left;
}
.announce-image ul
{
    list-style-type: none;
    padding: 0%;
    width: 500px;
    
    z-index: 1;
}
.announce-image ul li img
{
    width: 400px;
    height: 300px;
    margin: 0%;
}
.announce-image ol
{
    list-style-type: none;
    padding: 0%;
   width: 44px;
   height: 22px;
    position:absolute;
    right:15px ;
    bottom: 15px;
    background: #39A4DB;
    z-index: 2;
}
.announce-image ol li
{
    width: 20px;
    height: 20px;
    float: left;
    font-size: 14px;
    border: 1px solid #ffffff;
    background: #ccc;
    text-align: center;
    color: #39A4DB;
    cursor: pointer;
}
.announce-image .current_3
{
    background: #39A4DB;
    color: #ffffff;
    cursor: pointer;
}
.announce
{
    position: relative;
    width: 625px;
    height: 300px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.announce a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.announce a:hover
{
    color: #39A4DB
}
.announce
{
    list-style-type: none;
    padding: 0%;
    border-top: 5px solid #39A4DB;
}
.announce  a
{
    cursor: pointer;
    margin-top: 10px;
}
.announce img
{
    width: 20px;
    width: 20px;
    cursor: default;
}
.content-bottom
{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    position: absolute;
}
.center
{
  background: #ffffff;
  width: 300px;
  height: 300px;
  position: relative;
  float: left;
  left: 17%;
  top: 0%;
}
.span
{
    border-bottom: 5px solid #39A4DB;
    width:300px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
}
.span span
{
    cursor: pointer;
}
.span span:hover
{
    color: #39A4DB;
}
.center-introduce 
{
    font-size: 20px;
    float: left;
}
.center-introduce a
{
    text-decoration: none;
    color: aquamarine;
}
.center-introduce a:hover
{
    color: #39A4DB;
}
.tab
{
    width: 450px;
    height: 270px;
    float: left;
  position: relative;
  left: 20%;
  top: 0%;
}
.tab-title
{
    list-style-type: none;
    float: left;
    padding: 0%;
    border-bottom: 5px solid #39A4DB;
}
.tab-title li
{

    float: left;
    width: 140px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
.tab-click
{
    background: #39A4DB;
    border-radius: 10px;
}
.tab-content
{
    float: left;
    height: 210px;
}
.tab-content ul
{
    list-style-type: none;
    height: 200px;
}
.tab-content ul li
{
    margin-top: 10px;
}
.tab-content ul li a
{
    text-decoration: none;
    color: black
}
.tab-content ul li a:hover
{
    color: #39A4DB;
}
.tab-content ul li img
{
    width: 20px;
    height: 25px;
}
.down
{
    width: 280px;
    height: 280px;
   position: relative;
   margin-left: 1100px;
    display: block;
}
.down-title
{
    width: 280px;
    height: 50px;
    border-bottom: 5px solid #39A4DB;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
}
.down-title:hover
{
    color: #39A4DB;
}
.down-content
{
    width: 280px;
    height: 200px;
}
.down-content ul 
{
    list-style-type: none;
    padding: 0%;
}
.down-content ul li img
{
    width: 20px;
    height: 25px;
    margin-top: 10px;
}
.down-content ul li a
{
    text-decoration: none;
    color: black;
}
.down-content ul li a:hover
{
    color: #39A4DB;
}
.foot
{
    border-top: 2px solid grey;
    margin: 500px 0 0 0;
    position: relative;
    z-index: 1;
}
.foot pre
{
    margin: 20px 0 10px 30%;
    position: absolute;
    width: 180px;
    height: 50px;
}
.pre1
{
    margin-bottom: 20px;
}
#to_top
{
    padding: 0px;
    cursor: pointer;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    height: 45px;
    z-index: 6;
    right:0%;;
    top: 10px;
    position: absolute;
    background: #ccc;
}
.display
{
    display:show;
}  
.none
{
    display: none;
}