#content{
	width:85%;
	height:450px;
	margin:20px auto;
	border-top:5px solid #39A4DB;
}
#content h1{
	font-size:25px;
	text-align:center;
	margin:20px auto;
}
.brief{
	width:900px;
	margin: auto;
}
.brief ul li{
	height:30px;
	line-height:30px;
	list-style-type: decimal;
	list-style-position: inside;
}