<!-->
				<ul class="ddmenu">
					<li><a href="">中心简介</a></li>
					<li><a href="">服务内容</a></li>
					<li><a href="">师资力量</a></li>
				</ul>
				</-->

/*菜单栏*/
/*ul{
	margin: 0px;
	padding: 0px 0px 0px 5px;
	background-color: #39A4DB;
}
/*主菜单项目*/
/*ul li{
	width: 125px;
	display: inline-block;
	position: relative;
}
ul a{
	background-color: #39A4DB;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	display: block;
}
ul a :hover{
	background-color: darkblue;
	color: #39A4DB;
}
ul ul.ddmenu{
	display: none;
}
*/