*{
    margin: 0;
    padding: 0;
}
*{
    font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.body {
    width: 100%;
}
.current {
    background-color: #39A4DB;
}
.header0 {
    height: 105px;
}
.header0 img {
    position: relative;
    top: 20px;
    left: 220px;
}
hr {
    color: #abcdef;
}
.content4 {
    margin: 0 auto;
    width: 65%;
    height: 400px;
    padding: 20px;
}
.content4>div {
    float:left;
}
.content4-profile {
    width: 40%;
}
.content4-profile ul li {
    position: relative;
    left: 30px;
    font-size: 15px;
    line-height: 35px;
    color: #39A4DB;
}
.content4-form {
    border: 1px solid blue;
}
.content4-form>ul {
    width: 400px;
}
.content4-form>ul li {
    float: left;
    padding-top: 5px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #abcdef;
    cursor: pointer;
}
.content4-form-tabbox {
    position: relative;
    margin: 20px;
    top: 10px;
}
input {
    height:30px;
    width: 300px;
}
form {
    font-size: 20px;
}
.submit {
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 40px;
    background-color: #39A4DB;
    cursor: pointer;

}

