.main-content{
	width:1000px;
	height:150px;
	
	margin:0 auto;
}
.nowPosition{
	margin-top:50px;
}
.main-hr{
	width:1000px;
	height:7px;
	background-color:rgb(57,164,219);
	margin-top:10px;
}
.main-content h2{
	margin:0 auto;
	width:770px;
	height:30px;
	margin-top:15px;
	letter-spacing:5px;
}
.main-content pre{
	width:250px;
	height:15px;
	margin:0 auto;
	font-size:15px;
	margin-top:15px;
}