

.message-main{
	width:1000px;
	height:800px;
	margin:0 auto;
	
}
.message-position{
	margin-top:35px;
	font-size:17px;
}
.message-hr{
	width:1000px;
	height:6px;
	background-color:rgb(57,164,219);
	margin-top:15px;
}
.message-main h4{
	color:rgb(57,164,219);
	margin-top:20px;
	width:200px;
	height:40px;
}
.message-main span{
	width:200px;
	height:50px;
}
.message-main span input{
	width:200px;
	height:19px;
}
.leaveMessage-content{
	
	margin-top:20px;
}
.leaveMessage-content textarea{
	margin-top:10px;
	position:relative;
	width:630px;
	height:550px;
}
.leaveMessage-content button{
	
	margin-left:15px;
	font-size:100%;
	
	margin-top:20px;
}