*{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
	
}
.acolor{
	background-color:rgba(60,147,237,0.9);
}
.bcolor{
	opacity:0.7;
}
.ccolor{
	color:#fff!important;
	background-color:rgb(57,164,219)!important;
}
.dcolor{
	color:rgb(57,164,219)!important;
}
.ecolor{
	color:#fff;
}
.blue{
	cursor:pointer;
	color:black;
}
/*头部*/
.header-1{
	width:100%;
	height:35px;
	background-color:rgb(57,164,219);
}
.header-1-1{
	margin-right:10%;
}
.header-1-1 pre{
	height:35px;
	float:right;
	list-style:none;
	line-height:35px;
	cursor:pointer;
	color:#fff;
	font-size:15px;
}

.header-2{
	width:100%;
	height:100px;
	
}
.header-2 img{
	margin-left:15%;
	margin-top:17px;
	
}
.header-3{
	width:100%;
	height:45px;
	background-color:rgb(57,164,219);
}
.nav{
	width:1200px;
	height:45px;
	margin:0 auto;
	overflow:hidden;
}
.nav ul{
	margin: 0 auto;
}
.nav ul li{
	width:120px;
	height:45px;
	float:left;
	list-style:none;
	line-height:45px;
	text-align:center;
	color:#fff;
	
}
.nav ul li a{
	color:#fff;
}
.nav2{
	width:120px;
	line-height:45px;
	background-color:rgb(57,164,219);
	z-index:100;
	position:absolute;
	display:none;
}


.footer{
	width:100%;
	height:80px;
	
}
.footer-hr{
	width:100%;
	height:5px;
	background-color:rgb(204,204,204);
	margin-top:0;
}
.content{
	width:600px;
	height:50px;
	margin:0 auto;
	margin-top:20px;
	
}

.span{
	
	margin-top:15px;
	margin-left:150px;
	font-size:10px;
}
	