@charset "uft-8";
.aside{
	position: fixed;
	right:15px;
	bottom: 180px;
	width:45px;
	height:125px;
	padding-top:5px;
	background-color: #00c1de;
}
.aside .img-box{
	padding-left:9px;
}
.aside > p{
	width:14px;
	font-size:14px;
	color:#fff;
	margin:auto;
}
.hidden-box{
	z-index:10;
	display: none;
	position:absolute;
	top:-106px;
	right:50px;
	width:240px;
	height:235px;
	background-color: #fff;
}
.hidden-box:after{
    content:"";
    position: absolute;
    top:200px;
    right:0;
    width:0;
    height: 0;
    border:8px solid #000;
    border-right: 0;
    border-left-color:#fff;
    margin-right: -5px;
    background-color: #fff;
}
.hidden-box ul{
	padding:20px 10px 10px 60px;
}
.hidden-box li{
	position: relative;
	width:160px;
	height:40px;
	margin-bottom: 30px;
}
.hidden-box li a{
	display: block;
}
.hidden-box li i{
	display: block;
	position: absolute;
	top:5px;
	left:-45px;
}
.hidden-box li p{
	height:20px;
	width:140px;
	line-height: 20px;
	white-space:pre-wrap;
}
.hidden-box .change-color{
	font-size:15px;
	color:#373d41;
}
.hidden-box .s-color{
	font-size:12px;
	color:red;
}
.hidden-box .normal{
	color:#9b9ea0;
}
.hidden-box li:hover .change-color{
	color:#00c1de;
}
.aside:hover .hidden-box{
	display: block;
}
.hidden-box > i{
	display: block;
	position: absolute;
	top:15px;
	right:15px;
}