html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td
    {
        margin:0;
	    padding:0;
        list-style: none;
        text-decoration: none;
    }
a:hover{
    color:#39a4db;
}
.head{
    position: absolute;
    top:0;
    left:0;
    background-color: #39a4db;
    width:100%;
    height:33px;}
.tag{
    position: absolute;
    top:2px;
    right:150px;
    color:white;
    cursor: pointer;
}
.logo{
    position: absolute;
    top:33px;
    left:0;
    width:100%;
    height:200px;
}
#icon{
    position: absolute;
    top:15px;
    left:250px;;
    width:800px;
    height:70px;
}
.header_nav{
    width:100%;
    height:40px;
    background-color: #39a4db;
    position: absolute;
    top:120px;
    z-index:20;
}
.header_nav_content{
    width:1200px;
    height:45px;
    background-color: #39a4db;
    margin:0 auto;
    text-align: center;
}
.header_nav_content ul li{
    color: white;
    line-height: 45px;
    font-size: 16px;
    font-weight: 500;
    float: left; 
    width: 125px;
    height: 45px;
    /* overflow: hidden; */
    /* margin: 0 30px; */
    cursor: pointer;
    /* padding: 0 33px; */
}
.header_nav_content ul li:hover{
    background-color: #3C93ED;
}
.header_nav_content a{
    color: #fff;
}
.nav_list ol{
    display: none;
    box-shadow:3px 3px 3px #000;
}
.nav_list ol li {
    float: none;
    width: 125px;
    font-size: 15px;
    padding: 0px;
    background-color:#39a4db;
    
}
.nav_list ol li a{
    color: #fff;
}
.nav_list ol li:nth-child(1){
    padding: 0;
}
.position{
    position: absolute;
    left:250px;
    top:200px;
    width:1000px;
    height:25px;
    font-size:16px;
    border-bottom:5px #39a4db solid;
}
.photo{
    position: absolute;
    left:250px;
    top:230px;
}
.news_list{
    position: absolute;
    top:250px;
    left:550px;
    width:600px;
  
}
.news_list a{
    cursor: pointer;
    font-weight:200;
    font-size:16px;
    font-family: "宋体";
}
.news_list ul li{
    line-height: 35px;
}
.news_list img{
    width:16px;
    height:16px;
}
.footer{
    width:800px;
    height:35px;
    position: absolute;
    left:450px;
    top:710px;
}
.footer p,span{
    font-size:13px;
    color:#565656;
}
.footer span{
    padding-left:200px;
}
.line1{
    position: absolute;
    left:0;
    top:690px;
    width:1600px;
    height:5px;
    background-color: #ccc;
}
.buttom{
    float:left;
    position: absolute;
    left:850px;
    top:650px;

}